<!-- <button (click)="showCard = !showCard">toggle card</button>

<div>
  <app-card *ngIf="showCard">
    some text
  </app-card>
</div> -->





<form [formGroup]="searchForm">
  <input type="text"
         formControlName="text">
</form>

<div [appHighlight]="searchText$ | async"
     [caseSensitive]="true"
     customClasses="text--highlight">
  Lorem Ipsum has been the industry's standard dummy text ever since the
  1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book.
</div>

<div appTooltip="Some tooltip =)">
  Lorem Ipsum has been the industry's standard dummy text ever since the
  1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book.
</div>


<div appHighlightWithTooltip
     [highlight]="searchText$ | async"
     tooltip="test text...">
  Lorem Ipsum has been the industry's standard dummy text ever since the
  1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book.
</div>




<!-- <button (click)="isCompositionVersion = !isCompositionVersion">toggle directive version</button>

<ng-container *ngIf="isCompositionVersion; else oldVersionTemplateRef">
  <pre>isCompositionVersion === true</pre>
  <ng-container *ngFor="let item of testArray">
    <div appHighlightWithTooltip
         highlight="text"
         tooltip="text">
    </div>
  </ng-container>
</ng-container>

<ng-template #oldVersionTemplateRef>
  <pre>isCompositionVersion === false</pre>
  <ng-container *ngFor="let item of testArray">
    <div appHighlightWithTooltipOld
         highlight="text"
         tooltip="text">
    </div>
  </ng-container>
</ng-template> -->
